# International Trade PS

In [65]:
import pandas as pd
import numpy as np
import random

# Section 1: Hat Algebra Assignment

## Problem 1

\begin{align}
\hat{X_{ij}^s} &= \dfrac{\left( \hat{w_i}(\hat{1+t_{ij}^s}) \right)^{(1-\sigma^s)}\hat{X_j^s}}
            {\sum_i \left( \hat{w_i}(\hat{1+t_{ij}^s}) \right)^{(1-\sigma^s)}  w_i(1+t_{ij}^s)^{(1-\sigma^s)} / \sum_i \left( w_i(1+t_{ij}^s) \right)^{(1-\sigma^s)} } \\
            &= \dfrac{\left( \hat{w_i}(\hat{1+t_{ij}^s}) \right)^{(1-\sigma^s)}\hat{X_j^s}}
            {\sum_i \left( \hat{w_i}(\hat{1+t_{ij}^s}) \right)^{(1-\sigma^s)}  X_{ij}^s / x_j^s } \\
            &= \dfrac{\left( \hat{w_i}(\hat{1+t_{ij}^s}) \right)^{(1-\sigma^s)}\hat{X_j^s}}
            {\sum_i \left( \hat{w_i}(\hat{1+t_{ij}^s}) \right)^{(1-\sigma^s)}  \lambda_{ij}^s } 
\end{align}

$$\Leftrightarrow \hat{\lambda_{ij}^s} = \dfrac{\left( \hat{w_i}(\hat{1+t_{ij}^s}) \right)^{(1-\sigma^s)}\hat{X_j^s}}
            {\sum_i \left( \hat{w_i}(\hat{1+t_{ij}^s}) \right)^{(1-\sigma^s)}  \lambda_{ij}^s }$$

## Problem 2

In [35]:
trade_data = pd.read_csv('Xisj.csv')
trade_data.head()

,c_num,s_num,1,2,3,4,5,6,7,8,...,25,26,27,28,29,30,31,32,33,34
0,1,1,38869.0000,0.76569,9.154,1.5428,12.8490,2168.9000,45.0640,138.94,...,1.46140,0.035061,18.687,2.5579,0.032508,0.69555,9.2703,129.40000,220.050,2601.00
1,1,2,2.4700,12805.00000,17.452,2.0787,3.4803,6.6157,44.0210,456.43,...,0.84795,21.416000,22.523,17.0990,62.272000,6.30670,5.1553,1.53000,10.452,229.29
2,1,3,1.9969,32.24700,4145.000,6.4016,12.5860,88.0980,48.1340,699.90,...,16.72300,24.044000,131.460,15.6980,2.698000,88.84700,13.1960,0.55469,35.253,685.93
3,1,4,31.3670,42.74600,238.440,133000.0000,102.3400,8008.4000,27.4570,1758.60,...,353.67000,30.324000,279.760,6.2220,22.280000,85.43300,123.9500,94.21000,718.140,3775.10
4,1,5,17.1230,6.25320,264.110,111.1300,48986.0000,1653.4000,9.8822,318.99,...,26.72200,1.694700,49.022,2.4842,1.292800,5.19020,208.6500,29.43100,5239.200,4023.90

In [23]:
elasticity = pd.read_csv('elasticity.csv')
elasticity.head()

   s_num  Caliendo-Parro trade elasticity
0      1                             8.11
1      2                            15.72
2      3                             2.55
3      4                             5.56
4      5                            10.83

## Problem 2 (a)

In [98]:
beta_mat = np.zeros((34, 31))
for c in range(1, 35):
    for s in range(1, 32):
        df = trade_data[['s_num', str(c)]]
        df = df[df['s_num'] == s]
        val = df[str(c)].sum()
        beta_mat[c-1][s-1] = val / trade_data[str(c)].sum()

In [99]:
beta_mat

array([[0.02161046, 0.00680369, 0.00764332, ..., 0.07231421, 0.02280819,
        0.02322773],
       [0.02734813, 0.02608404, 0.00550184, ..., 0.02291094, 0.07872553,
        0.01805664],
       [0.02834999, 0.01926095, 0.01337723, ..., 0.03911132, 0.01405032,
        0.07382799],
       ...,
       [0.0193308 , 0.01424515, 0.03003155, ..., 0.10233529, 0.01319534,
        0.0603448 ],
       [0.02386006, 0.01440442, 0.00224393, ..., 0.00554836, 0.14492408,
        0.01550432],
       [0.03335218, 0.01814729, 0.05947287, ..., 0.02644506, 0.01238059,
        0.06978515]])

In [100]:
beta_mat.sum(1)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

## Problem 2 (b)

In [139]:
def compute_lambdas():
    lambda_mat = np.zeros((34, 31, 34))
    for c_in in range(1, 35):
        for c_out in range(1, 35):
            for s in range(1, 32):

                df = trade_data[['c_num', 's_num', str(c_in)]]
                df = df[df['s_num'] == s]
                den = df[str(c_in)].sum()

                df = df[df['c_num'] == c_out]
                num = df[str(c_in)].sum()

                lambda_mat[c_in-1][s-1][c_out-1]= num / den
        return lambda_mat

In [140]:
lambda_mat = compute_lambdas()

In [143]:
lambda_mat[0][1].sum()

1.0

# Section 2: Combinatorial Choice Problem

## Problem (a)

The profit function we consider is from Antras, Fort, and Tintelnot (2014):
$$\pi(J, \varphi, f_{ij}^n) = \varphi^{\sigma-1} \left( \sum_{j=1}^{j \in J} T_j (\tau_{ij}w_{j})^{-\theta} \right)^{\sigma-1/\theta} B - \sum_{j \in J} f_{ij}^n$$
where $\phi$: productivity, $f_{ij}^n$: fixed cost

## Problem (b)

Parameters of the model come from calibration values and methods from Antras, Fort, and Tintelnot (2014):

- $\xi_{j} = T_j (\tau_{ij}w_{j})^{-\theta}$ 

- $\log \xi_{j}=\beta_{r} \log \mathrm{R} \& \mathrm{D}_{j}+\beta_{k} \log \operatorname{capital}_{j}+\beta_{F} \log \text { number of firms }_{j} +\beta_{C} \text { control of corruption }_{j}  -\theta \log w_{j}-\theta\left(\log \beta_{c}+\beta_{d} \log \operatorname{distance}_{i j}+\operatorname{language}_{i j} \log \beta_{l}\right. )+\iota_{j}$

- $\beta_0 = -7.250, \beta_r = 0.352, \beta_k = -0.184, \beta_F = 0.108, \theta = -0.537, \beta_d = -0.341, \beta_l = 0.105, \beta_C = 0.105 $ 

- $B$ = 0.122

- $f_{ij}^n$ drawn from lognormal distribution with dispersion parameter $\beta_{\text{disp}}^f$ and scale parameter $\log \beta_{c}+\beta_{d}^{f} \log \text { distance }_{i j} + \log \beta_{t}^{f} \text { language }_{i j}+\beta_{C}^{f} \text { control of corruption }_j$
- $\beta_c^f = 0.022, \beta_d^f = 0.193, \beta_l^f = 0.872, \beta_C^f = -0.393, \beta_{\text{disp}}^f = 0.934$

- $\frac{\sigma-1}{\theta} < 1$ (Substitution case)

## Problem (c)

#### Data (Antras, Fort, and Tintelnot (2014)

In [72]:
df = pd.read_stata('temp.dta')
df = df.iloc[3:]
df.describe()

,tariff_avg,tariff_wavg,sum_con_val,sum_gen_val,cb,contig,comlang_off,comlang_ethno,distw,pop_o,...,log_hl,yrsch_inv,log_tariff,log_pop,log_wage_adj,log_tao_wage,log_gdp,log_hc,log_servers,log_firms
count,216.000000,216.000000,226.000000,226.000000,176.000000,221.000000,221.000000,221.000000,221.000000,195.000000,...,128.000000,145.000000,216.000000,188.000000,105.000000,101.000000,201.000000,145.000000,192.000000,111.000000
mean,0.026250,0.000263,8.593006,8.640641,2144.054932,0.009050,0.339367,0.438914,9.385240,32.977978,...,-0.609572,0.159124,0.025699,1.744217,-2.121551,-2.095227,23.702438,0.883366,2.347226,4.749925
std,0.021326,0.000213,35.322399,35.332504,2249.626953,0.094914,0.474569,0.497381,3.605831,127.006874,...,0.289967,0.109266,0.020643,2.041101,1.228225,1.203117,2.414805,0.259613,2.949513,1.681022
min,0.000000,0.000000,0.000025,0.000025,0.000000,0.000000,0.000000,0.000000,1.853802,0.020200,...,-1.123930,0.075357,0.000000,-3.882901,-5.231224,-5.228129,17.112495,0.161148,-4.387520,0.000000
25%,0.006900,0.000069,0.005373,0.005358,643.829956,0.000000,0.000000,0.000000,7.440511,1.324906,...,-0.853324,0.098736,0.006876,0.685543,-2.940990,-2.901669,22.036854,0.714023,-0.076287,3.610918
50%,0.025250,0.000253,0.187236,0.187530,1480.954956,0.000000,0.000000,0.000000,9.705772,6.302157,...,-0.628300,0.119767,0.024936,1.950641,-2.185064,-2.208898,23.562965,0.963769,2.280943,4.787492
75%,0.038900,0.000389,2.973263,3.022997,2870.790039,0.000000,1.000000,1.000000,12.155881,20.332430,...,-0.390087,0.173533,0.038162,3.101978,-1.030538,-1.051141,25.628376,1.084703,4.567968,5.793014
max,0.086700,0.000867,323.085480,321.507782,14710.360352,1.000000,1.000000,1.000000,16.764666,1311.797729,...,0.016857,0.831533,0.083146,7.186789,0.110491,0.146919,30.303810,1.298365,7.674379,8.542861

In [73]:
df.columns

Index(['iso3', 'tariff_avg', 'tariff_wavg', 'code_TD', 'sum_con_val',
       'sum_gen_val', 'country', 'cb', 'contig', 'comlang_off',
       'comlang_ethno', 'distw', 'pop_o', 'tdiff', 'rta', 'BLcode', 'hc',
       'lK_L', 'control_of_corruption', 'government_effectiveness',
       'political_stability', 'regulatory_quality', 'rule_of_law',
       'voice_and_accountability', 'cv', 'hl', 'tradefreedom',
       'investmentfreedom', 'iso', 'avg_wage_usd', 'gross_production', 'pop',
       'KI', 'KL', 'lp', 'ls', 'univ_degree', 'yr_sch', 'pop_BL', 'intserv',
       'breg', 'manuf', 'rd_stock', 'gdp', 'rpshare', 'exp_cost', 'no_firms',
       'wage_hc_adj', 'log_wage', 'log_rd', 'log_dist', 'log_imp', 'log_KL',
       'log_yrsch', 'log_hl', 'yrsch_inv', 'log_tariff', 'log_pop',
       'log_wage_adj', 'log_tao_wage', 'log_gdp', 'log_hc', 'log_servers',
       'log_firms'],
      dtype='object')

In [74]:
df = df.reset_index(drop=True)
df.head()

,iso3,tariff_avg,tariff_wavg,code_TD,sum_con_val,sum_gen_val,country,cb,contig,comlang_off,...,log_hl,yrsch_inv,log_tariff,log_pop,log_wage_adj,log_tao_wage,log_gdp,log_hc,log_servers,log_firms
0,ALB,0.0645,0.000645,4810,0.009524,0.009524,Albania,3394.800049,0.0,0.0,...,NaN,0.096283,0.062505,1.281079,-2.964175,-2.901669,23.093945,1.102249,0.926903,NaN
1,DZA,0.0335,0.000335,7210,17.397079,17.816055,Algeria,982.080017,0.0,0.0,...,-0.877070,0.146410,0.032951,3.507440,-2.561372,-2.528420,25.628376,0.821845,-1.478675,NaN
2,ASM,NaN,NaN,9510,NaN,NaN,American Samoa,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.235004,NaN
3,AND,0.0711,0.000711,4271,0.000438,0.000438,Andorra,NaN,0.0,0.0,...,NaN,NaN,0.068686,NaN,NaN,NaN,21.900509,NaN,6.120625,NaN
4,AGO,0.0000,0.000000,7620,12.210961,12.507551,Angola,14710.360352,0.0,0.0,...,-0.783072,NaN,0.000000,2.506635,NaN,NaN,24.825064,NaN,0.016083,NaN

#### Ekchert et al. (2017) Algorithm

##### Marginal benefit of adding country j given $\phi$ and $J$ \ $j$
$$\varphi^{\sigma-1} B\left(\Theta_{i}(\mathcal{J})^{(\sigma-1) / \theta}-\Theta_{i}(\mathcal{J} \backslash j)^{(\sigma-1) / \theta}\right)-f_{i j}^{n}$$

where $\Theta_{i} = \sum_{k \in J_i(\phi)} T_k (\tau_{ik}w_k)^{-\theta}$.

Therefore, $\left(\Theta_{i}(\mathcal{J})^{(\sigma-1) / \theta}-\Theta_{i}(\mathcal{J} \backslash j)^{(\sigma-1) / \theta}\right) = \hat{\xi_j}$.

We will set $\varphi = 1$, $\sigma=1.5$, $\theta=1.789$ (Benchmark Case).

In [75]:
def get_xi(index):
    
    β_0 = -7.250
    β_r = 0.352
    β_k = -0.184
    β_F = 0.108
    θ = -0.537
    β_d = -0.341
    β_C = 0.105
    
    c_df = df.loc[index]
    
    xi = β_0 + β_r*c_df['log_rd'] + β_k*c_df['log_KL'] + β_F*c_df['log_firms'] \
        + β_C*c_df['control_of_corruption'] - θ*c_df['log_wage'] \
        - θ*( β_d*c_df['log_dist'])
    
    return xi

In [76]:
def get_fij(index):
    
    β_c = 0.022
    β_d = 0.193
    β_l = 0.872
    β_C = -0.393
    β_disp = 0.934
    
    c_df = df.loc[index]
    
    dispersion = β_disp
    scale = np.log(β_c) + β_d*np.log(c_df['log_dist']) + np.log(β_l)*c_df['ls'] \
                + β_C*c_df['control_of_corruption']

    return np.random.lognormal(dispersion, scale, 1)

In [83]:
def marginal_benefit(index, add=True):
    φ = 1
    B = 0.122
    ξ = get_xi(index)
    fij = get_fij(index)
    
   
    mb = φ * B * ξ - fij
       
    if add:
        return mb
    else:
        return -mb

In [84]:
def profit(J):
    φ = 1
    B = 0.122
    σ = 1.5
    θ = -0.537
    
    theta_sum = 0
    f_sum = 0
    for i in range(len(J)):
        if J[i] == 1:
            theta_sum += get_xi(i)
            f_sum += get_fij(i)
            
    pi = φ * B * ( theta_sum ** ((σ-1)/θ) ) - f_sum
    
    return pi

In [85]:
def ekchert_alg(N):
    
    ## Initialize J_vectors:
    J_min = np.zeros(df.country.shape[0])
    J_max = np.ones(df.country.shape[0])
    
    for i in range(N):
        index = random.randint(0, 239)
        if J_min[index] == 0:
            mb = marginal_benefit(index, add=True)
            if mb > 0:
                J_min[index] == 1
        else:
            mb = marginal_benefit(index, add=False)
            if mb > 0:
                J_min[index] == 0
        
        if J_max[index] == 0:
            mb = marginal_benefit(index, add=True)
            if mb > 0:
                J_max[index] == 1
        else:
            mb = marginal_benefit(index, add=False)
            if mb > 0:
                J_max[index] == 0
    
    ### Choose J with bigger profit:
    pi_min = profit(J_min)
    pi_max = profit(J_max)
    
    if pi_min > pi_max:
        return J_min
    else:
        return J_max